<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../components/header.ejs'); %>
    </head>
    <body class="container">
      <div class="app-container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title mb-3">Confirm OTP</h3>
              <div class="mb-4">
                <label for="string" class="form-label">OTP</label>
                <input type="text" class="form-control" id="string" placeholder="Enter String">
              </div>
              <div class="d-grid">
                  <button type="button" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
    </div>
        <footer>
        <%- include('../components/footer.ejs'); %>
        </footer>

    </body>
</html>

