<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../components/header.ejs'); %>
    </head>
    <body class="container">
        <div class="app-container">
          <form action="/savePassword" method="post">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h3 class="card-title mb-3">Update Password</h3>
                <div class="mb-3">
                  <label for="password" class="form-label">New Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Enter New Password">
                </div>
                <div class="mb-4">
                  <label for="confirmPassword" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm New Password">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Save Password</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <footer>
        <%- include('../components/footer.ejs'); %>
        </footer>
    </body>
</html>