<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/header.ejs'); %>
</head>
<body class="container">
    <div class="app-container">
      <h1>Logged in successfully</h1>
    </div>

<footer>
  <%- include('../components/footer.ejs'); %>
</footer>

</body>
</html>

