<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/header.ejs'); %>
</head>
<body>
    <%- include('../components/Navbar.ejs'); %>
      <div class="container row mt-3">
        <% data.forEach(function(_d){ %>
          <%- include('../components/note.ejs', {note: _d}); %>
        <% }); %>
    </div>

<footer>
  <%- include('../components/footer.ejs'); %>
</footer>

</body>
</html>

