<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../components/header.ejs'); %>
    </head>
    <body class="container">
        <div class="app-container">
            <form action="/checkEmail" method="post">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title mb-3">Confirm Email</h3>
                  <div class="mb-4">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                  </div>
                  <div class="d-grid">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </form>
        </div>
        <footer>
        <%- include('../components/footer.ejs'); %>
        </footer>

    </body>
</html>

